$color1: #d73d6c; 
$color2: #d57276; 
$color3: #d6c2bc; 
$color4: #c0cccc; 
$color5: #65b2c6; 
$color-white: #FFFFFF; 
$primary: $color1;
$secondary: $color5;
$theme-colors: (
    "color1": #d73d6c,
    "color2": #d57276, 
    "color3": #d6c2bc, 
    "color4": #c0cccc, 
    "color5": #65b2c6 
);